<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="netdomain.LinqToSql.Test.Properties.Settings.LinqTestConnectionString"
          connectionString=".\SQLEXPRESS;AttachDbFilename=|DataDirectory|\LinqTest.mdf;Integrated Security=True;User Instance=True"
          providerName="System.Data.SqlClient" />
    </connectionStrings>
    <appSettings>
        <add key="LinqToSqlMapping" value="res://netdomain.LinqToSql.Test.Mappings.map"/>
    </appSettings>
</configuration>
