<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="LinqTestEntities" connectionString="metadata=res://*/BusinessObjects.Model1.csdl|res://*/BusinessObjects.Model1.ssdl|res://*/BusinessObjects.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\App_Data\LinqTest.mdf;Integrated Security=True;User Instance=True&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>
